:root {
    --width:
}

*, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: minmax(calc(100vh - 30px), 500px) / minmax(calc(30vw - 15px), 200px) minmax(10vw, 50px) minmax(calc(60vw - 15px), 300px);
    overflow: hidden;
    min-width: 500px;
    min-height: 500px;
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 15px;
}

.help-desk, 
.ladder,
.library {
    outline: blueviolet solid 1px;
}

.help-desk {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: clamp(250px, calc(700px - 30vw), 60vh) 1fr / 1fr;
    padding: 10px;
}

.help {
    grid-area: 1 / 1 / 2 / 2;
    border: forestgreen dotted 1px;
}

.help p {
    font-family: "Pacifico", cursive;
    font-size: 24px;
}

.librarian {
    grid: 2 / 1 / 3 / 2;
    border: darkorange dotted 1px;
    place-self: center;
}

.librarian img {
    width: 15vw;
    min-width: 150px;
}

.ladder {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: repeat(10, 1fr);
}

.ladder-rung {
    outline: goldenrod dotted 1px;
}

.library {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template: 125px repeat(auto-fit, minmax(100px, 1fr)) / repeat(auto-fit, minmax(125px, .5fr));
    gap: 10px;
    padding: 10px;
    overflow: auto;
}

.top-shelf {
    grid-area: 1 / 1 / 2 / -1;
    border: 1px dotted palevioletred;

}

.book {
    border: 1px solid black;
    max-width:  ;
    min-width:  ;
    max-height: ;
    min-height: ;

}

.book > p {
    font-family: "Lato", sans-serif;
    font-size: clamp(.5rem, 11px, 2rem);
    
    
}

/* book width formula -  pg length / 100 * 3 [generic multiplier] (for example 345pg book = 3.45% * 2) */
    /* limited between 10-30% */
/* book height formula - pg length / 10 * 50% [limited height bandwith for books] (for example 345pg book = ((34.5 * 50%) + 50%) */
    /* limited between 50-100% */
