:root {
    --width:
}

*, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template: minmax(calc(100vh - 30px), 500px) / minmax(calc(30vw - 15px), 150px) minmax(10vw, 50px) minmax(calc(60vw - 15px), 300px);
    overflow: hidden;
    min-width: 500px;
    min-height: 500px;
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 15px;
}

.help-desk, 
.ladder,
.library {
    outline: blueviolet solid 1px;
}

.help-desk {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: clamp(250px, calc(700px - 30vw), 60vh) 1fr / 1fr;
    padding: 10px;
}

.help {
    grid-area: 1 / 1 / 2 / 2;
    border: forestgreen dotted 1px;
}

.help p {
    font-family: "Pacifico", cursive;
    font-size: 24px;
}

.librarian {
    grid: 2 / 1 / 3 / 2;
    border: darkorange dotted 1px;
    place-self: center;
}

.librarian img {
    width: 15vw;
    min-width: 150px;
}

.ladder {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: repeat(10, 1fr);
}

.ladder-rung {
    outline: goldenrod dotted 1px;
}

.library {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template: 2fr repeat(3, 1fr) 2fr;
    padding: 10px;
}

.book-shelf {
    outline: darkcyan dotted 1px;
}

.row-two,
.row-three,
.row-four {
    display: flex;
}

.row-left,
.row-right {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: flex-end;
    gap: 1px;
}

.row-left {
    justify-content: flex-start;
}

.row-right {
    justify-content: flex-end;
}

.book {
    border: 1px solid black;
    max-width: 30%;
    min-width: 5%;
    max-height: 90%;
    min-height: 50%;
}
 
/* book width formula -  pg length / 100 * 3 [generic multiplier] (for example 345pg book = 3.45% * 2) */
    /* limited between 5-15% */
/* book height formula - pg length / 10 * 50% [limited height bandwith for books] (for example 345pg book = ((34.5 * 50%) + 50%) */
    /* limited between 50-100% */

.book-one { 
    /* sample book length 765pg */
    width: calc(7.65% * 3);
    height: calc(38.25% + 50%);
    background-color: aquamarine;
}

.book-two {
    width: 15%;
    height: 60%;
    background-color: aqua;
}

.book-three {
    width: 10%;
    height: 73%;
    background-color: plum;
}