body, * {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
    min-width: 700px;
    min-height: 500px;
}

.container {
    display: grid;
    grid-template: minmax(calc(100vh - 30px), 500px) / minmax(calc(35vw - 15px), 250px) minmax(7vw, 50px) minmax(calc(55vw - 15px), 350px);
    gap: 10px;
    min-width: 98vw;
    min-height: 98vh;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.help-desk, 
.ladder,
.library {
    outline: blueviolet solid 1px;
}

.help-desk {
    grid-area: 1 / 1 / 2 / 2;
    min-width: 250px;
    display: grid;
    grid-template: clamp(350px, calc(700px - 30vw), 60vh) 1fr / minmax(250px, 1fr);
}

.help {
    grid-area: 1 / 1 / 2 / 2;
    border: forestgreen dotted 1px;
}

#help {
    font-family: "Pacifico", cursive;
    font-size: 24px;
    text-align: center;
    margin: 15px 0 20px 0;
}

.deposit-remove {
    display: flex;
    width: 100%;
    align-items: center;
}

#deposit,
#remove {
    padding: 10px;
    margin-bottom: 15px;
    width: 50%;
    font-family: "Lato", sans-serif;
    text-align: center;
    color: white;
    cursor: pointer;
}

#deposit {
    background-color: green;
}

#remove {
    background-color: blueviolet;
}

form {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    padding: 10px;
}

label {
    display: flex;
    align-items: center;
    width: 100%;
}

form img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

label[for="pages"] {
    width: 50%;
}

input {
    padding: 5px 10px;

}

input[type="text"] {
    width: 100%;
}

input[type="number"] {
    width: 60px;
}

.pages-read {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.read-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    min-width: 105px;
    width: 130px;
    text-align: center
}

input[type="checkbox"] {
    display: none;
}

.toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: burlywood;
    width: 30px;
    height: 15px;
    border-radius: 30px;
    font-size: 9px;
    cursor: pointer;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: slategrey;
    left: 0px;
    transition: all 0.3s;
}

input[type="checkbox"]:checked + .toggle::after {
    left : 25px; 
    background-color: aqua;
}

.radio-submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
    padding-left: 20px;

}

#recommend-img {
    opacity: 0;
}

fieldset {
    border: none;
    display: none;
    font-size: 10px;
}

.legend {
    display: flex;
    align-items: center;
}

legend {
    margin: -5px 10px 0 0;
    width: 60px;
    text-align: right;
}

.radio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-wrapper label {
    width: 65px;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="radio"] {
    margin-right: 10px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    top: 0;
    left: 0;
}

.radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-button:hover {
    background-color: #ccc;
}

input[type="radio"]:checked ~ .radio-button {
    background-color: #2196F3;
}  

#deposit-pseudo-button {
    width: 100%;
    height: 55px;
    min-width: 0px;
    background-color: darkgoldenrod;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px 0 0 13px;
    cursor: pointer;
}

#deposit-pseudo-button-text {
    min-width: 0;
}

#recommend-img-wrapper {
    display: flex;
    align-items: center;
}

form button {
    padding: 15px;
    border-radius: 0 13px 13px 0;
    border: none;
    background-color: bisque;
    height: 55px;
    width: 40px;
    cursor: pointer;
}

.librarian {
    grid: 2 / 1 / 3 / 2;
    border: darkorange dotted 1px;
    place-self: center;
}

.librarian img {
    width: 15vw;
    min-width: 100px;
}

.ladder {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: repeat(10, 1fr);
}

.ladder-rung {
    outline: goldenrod dotted 1px;
}

#library {
    grid-area: 1 / 3 / 2 / 4;
    display: grid;
    grid-template: 125px repeat(auto-fit, minmax(250px, 1fr)) / repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    padding-right: 10px;
    overflow: auto;
    justify-items: center;
}

.top-shelf {
    grid-area: 1 / 1 / 2 / -1;
    border: 1px dotted palevioletred;
    background-color: bisque;
    width: 100%;
    margin-bottom: 15px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
    width: 185px;
    height: 225px;
    background-color: azure;
    font-family: "Lato", sans-serif;
    font-size: clamp(.5rem, 11px, 2rem);
    padding: 10px 15px;
    position: relative;
}

.delete-book {
    background-color: grey;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.delete-book::after {
    content: "✘";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.book h3 {
    font-style: italic;
}

.book h4 {
    text-transform: uppercase;
}
